[submodule "ed/auto-complete-git"]
	path = ed/auto-complete-git
	url = git://github.com/m2ym/auto-complete.git
[submodule "ed/emacs-cake"]
	path = ed/emacs-cake
	url = git://github.com/k1LoW/emacs-cake.git
[submodule "ed/emacs-cake2"]
	path = ed/emacs-cake2
	url = git://github.com/k1LoW/emacs-cake2.git
[submodule "ed/emacs-historyf"]
	path = ed/emacs-historyf
	url = git://github.com/k1LoW/emacs-historyf.git
[submodule "ed/git-emacs"]
	path = ed/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "ed/rhtml"]
	path = ed/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "ed/yasnippets-rails"]
	path = ed/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
